{% load url from future %}
{% load thumbnail %}
{% for img in img_list %}
  <li><a href="{% url 'image' img.pk %}"><img src = "/media/{{ img|thumbnail:"300w" }}" width="{{ img.width }}" height="{{ img.height }}" /></a></li>
{% endfor %}

