/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

a {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: inherit;
  text-decoration: none;
  line-height: normal;
  color: black;
}


div.jqcloud input {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 420%; }
#word_cloud_word_0 { font-size: 180% !important; }
div.jqcloud span.w9 { font-size: 420%; }
div.jqcloud span.w8 { font-size: 340%; }
div.jqcloud span.w7 { font-size: 340%; }
div.jqcloud span.w6 { font-size: 260%; }
div.jqcloud span.w5 { font-size: 260%; }
div.jqcloud span.w4 { font-size: 180%; }
div.jqcloud span.w3 { font-size: 180%; }
div.jqcloud span.w2 { font-size: 100%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }
div.jqcloud span.w10 { color: #203954; }
div.jqcloud span.w9 { color: #203954; }
div.jqcloud span.w8 { color: #315882; }
div.jqcloud span.w7 { color: #315882; }
div.jqcloud span.w6 { color: #70994B; }
div.jqcloud span.w5 { color: #226864; }
div.jqcloud span.w4 { color: #226864; }
div.jqcloud span.w3 { color: #349F9A; }
div.jqcloud span.w2 { color: #349F9A; }
div.jqcloud span.w1 { color: #74ADC1; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }