/**
 * Grid container
 */
#tiles {
list-style-type: none;
position: relative; /** Needed to ensure items are laid out relative to this container **/
margin: 0;
}

#photo {
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 4px;
overflow:hidden; 
width:640px;
margin-left: auto;
margin-right: auto;
}


/**
 * Grid items
 */
#tiles li {
width: 300px;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
padding: 4px;
}

#tiles li img {
display: block;
}

/**
 * Grid item text
 */
#tiles li p {
color: #666;
font-size: 12px;
margin: 7px 0 0 7px;
}



/**
 * Some extra styles to randomize heights of grid items.
 */
#tiles ali:nth-child(3n) {
height: 175px;
}

#tiles ali:nth-child(4n-3) {
padding-bottom: 30px;
}

#tiles ali:nth-child(5n) {
height: 250px;
}

/** General page styling **/
  
#main {
padding: 15px 0 30px 0;
min-height:500px; 
}

header h1 {
text-align: center;
font-size: 32px;
font-weight: normal;
margin: 15px 0 10px 0;
}

.image-details {
font-weight: normal;
font-size: 100%;
padding: 4px;
}

header p {
text-align: center;
font-size: 13px;
color: #777;
margin: 0;
}