<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href= "{{ STATIC_URL }}style/main.css">
  <link rel="stylesheet" type="text/css" href= "{{ STATIC_URL }}style/normalize.css">
  <link rel="stylesheet" type="text/css" href= "{{ STATIC_URL }}style/style.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/jqcloud.css" />  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jqcloud-1.0.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.wookmark.min.js"></script> 

  {% load static %}
  <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/widget.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/addanother.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/text_widget.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/remote.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/style.css' %}" />
</head>
<body style="background-color:transparent;">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <div id="wrapper">

    <header>
    
      {% block header %}{% endblock %}
    
    </header>


    <div id="content">

      {% load url from future %}

        <div id="main" role="main">
          {% load images %}
          <ul id="tiles">
            {% show_images img_list %}
          </ul>
        </div>

      <script type="text/javascript">
        $(document).ready(new function() {
          var options = {
            autoResize: true,
            container: $('#main'),
            offset: 5, // udaljenost izmedju slika
          };
          
          var handler = $('#tiles li');
          handler.wookmark(options);
          
          // ponovno postavljanje slika nakon sto se osvjezi sa novima sa servera
          var applyLayout = function() {
            if(handler) handler.wookmarkClear();

            handler = $('#tiles li');
            handler.wookmark(options);
          };

          var refresh = function() {
              $.ajax( {
                url: "/galerija/{{ hashtag.slug }}",
                success: function (data) {
                  $('#tiles').html(data);
                  applyLayout();
                  setTimeout(function() { refresh() }, 10000);
                }
              });
          }      

          function startRefreshing() {
              setTimeout(function() { refresh() }, 10000);   
          }
          startRefreshing();

        });

      </script>  
    </div>


    <footer>
    
      {% block footer %}{% endblock %}
      
    </footer>

  </div>

</body>
</html>