{% extends "slikozid/base.html" %}

{% block title %} Galerija - {{ hashtag }} | Slikozid {% endblock %}

{% block content %} 

{% load url from future %}

  <div id="header-container">
    <header class="wrapper clearfix">
      <div id="title" style="margin-top: 7px;"><a href="{% url 'index' %}"><img src="{{ STATIC_URL }}logo.png" /></a></div>
      <div id="tag"><a href="{% url 'hash' hashtag.slug %}"><h1 style="color: white;">{{ hashtag }}</h1></a></div>
    </header>
  </div>

  <div id="embed-code">
    na svojoj stranici zalijepi sljedeći odsječak koda:

    <blockquote>
    &lt;iframe src=&quot;http://team11.host25.com{% url 'hash' hashtag.slug %}&quot; width=&quot;650&quot; height=&quot;700&quot; frameborder=&quot;0&quot; id=&quot;ifr&quot; allowTransparency=&quot;true&quot; /&gt;

    &lt;script&gt;
    var _theframe = document.getElementById(&quot;ifr&quot;);
    _theframe.contentWindow.location.href = _theframe.src;
    &lt;/script&gt;
    </blockquote>

  </div>

  <div id="main" role="main">
    <a class="m-btn blue-stripe" href="#embed-code" style="margin:10px;" id="embed-btn">embedaj galeriju na svojoj stranici</a>
    {% load images %}
    <ul id="tiles">
      {% show_images img_list %}
    </ul>
  </div>

  <script type="text/javascript">
    $(document).ready(new function() {

      $('#embed-btn').leanModal();

      var options = {
        autoResize: true,
        container: $('#main'),
        offset: 5, // udaljenost izmedju slika
      };
      
      var handler = $('#tiles li');
      handler.wookmark(options);
      
      // ponovno postavljanje slika nakon sto se osvjezi sa novima sa servera
      var applyLayout = function() {
        if(handler) handler.wookmarkClear();

        handler = $('#tiles li');
        handler.wookmark(options);
      };

      var refresh = function() {
          $.ajax( {
            url: "/galerija/{{ hashtag.slug }}",
            success: function (data) {
              $('#tiles').html(data);
              applyLayout();
              setTimeout(function() { refresh() }, 10000);
            }
          });
      }      

      function startRefreshing() {
          setTimeout(function() { refresh() }, 10000);   
      }
      startRefreshing();

    });

  </script>  
 {% endblock %}
