{% extends "slikozid/base.html" %}

{% block title %} Slika | Slikozid {% endblock %}

{% block content %} 

{% load thumbnail %}

{% load url from future %}

  <div id="header-container">
    <header class="wrapper clearfix">
      <div id="title" style="margin-top: 7px;"><a href="{% url 'index' %}"><img src="{{ STATIC_URL }}logo.png" /></a></div>
      <div id="tag"><a href="{% url 'hash' image.HashtagID.slug %}"><h1 style="color: white;">{{ image.HashtagID.tag }}</h1></a></div>
    </header>
  </div>


<!-- <header>
  <h1><a href="{% url 'hash' image.HashtagID.slug %}">{{ image.HashtagID.tag }}</a></h1>
</header> -->

<div id="main" role="main" style="overflow:hidden; 
width:650px;
margin-left: auto;
margin-right: auto;
">
  <div id="photo">
    {% if image.longitude and image.latitude %}
    <a href="http://maps.google.com/maps?q={{ image.latitude }},{{ image.longitude }}&z=14" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ image.latitude }},{{ image.longitude }}&markers={{ image.latitude }},{{ image.longitude }}&zoom=14&size=640x100&sensor=false&key=AIzaSyBl1_mAmh5DxLon2FVCLOptDq5Sdll4AIE" style="margin-bottom: 4px; float:left;clear:both"/></a>
    {% endif %}
    <img src="/media/{{ image|thumbnail:"640w" }}" style="float:left; clear:both"/>
  </div>
  <div class="image-details" style="padding-left:4px; float:left;clear:both;">Slika je postavljena {{ image.created_at|date:"j.n.o \u H:i" }}</div>  
</div>

{% endblock %}