{% extends "slikozid/base.html" %}

{% block title %} Slikozid {% endblock %}

{% block content %} 


  
    <div style="float:left;position:absolute; margin-left: 10px">
      <a class="m-btn purple-stripe" href="{{ STATIC_URL }}slikozid.apk">preuzmi Android aplikaciju</a>
    </div>

    {% load url from future %}
    <a href="{% url 'index' %}"><img style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px;" src="{{ STATIC_URL }}logo-veliki.png" /></a>

    {% load url from future %}

    <script type="text/javascript">
      // stvaranje oblaka rijeci
      var word_list = [
        {text: "search", weight: {{ tag_list.0.slika__count }}, search: true},
        {% for tag in tag_list %}
          { 
            text:"{{ tag }}", 
            weight: {{ tag.slika__count }}, 
            link: { href: "{% url 'hash' tag.slug %}" }
          },
        {% endfor %}
      ];
      $(function() {

        $("#word_cloud").jQCloud(word_list, {shape: 'rectangular', afterCloudRender: function() {
          $('#search').yourlabsAutocomplete({
              url: '{% url 'navigation_autocomplete' %}',
              choiceSelector: 'a',
              placeholder: 'trazi'
          }).input.bind('selectChoice', function(e, choice, autocomplete) {
              document.location.href = choice.attr('href');
          });
        }});

      });
    </script>
    <div id="word_cloud" style="margin-left: auto; margin-right: auto;width: 700px; height: 550px;"></div>
 {% endblock %}

 {% block footer %}{% endblock %}